@media (max-width: 992px) {



}


@media (min-width: 767.98px) {

}




@media (max-width: 767.98px) {

    .wrap{
        width: 90%;
        margin-top: 5%;
    }

    .info p {
        margin-top: 12px;
        color: #FFFFFF;
        font-size: 3.5vw;
        line-height: 1.3;
        font-weight: 400;
    }

    .title p {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 5.2vw;
        line-height: 1.3;
        font-weight: 600;
        margin-top: 46px;
        text-align: center;
    }

    .title2 p {
        color: #FFFFFF;
        font-size: 4.4vw;
        line-height: 1.3;
        font-weight: 400;
        padding-top: 4%;
        text-align: center;
    }

    .title__button {
        color: #FFFFFF;
        font-size: 3.4vw;
        font-weight: bold;
        margin-top: 4%;
        margin-left: 10%;
        width: 80%;
        height: 12vw;
        border-radius: 50px;
        border: none;
        background-color: #00BCCA;
        -webkit-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        -moz-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    }

    .title__button:hover{
        color: #FFFFFF;
        background-color: #0045B4;
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
        outline: none;
        border: none;
    }

    .title__button:active{
        background-color: #0045B4;
        box-shadow: 0 5px #0045b4;
        transform: translateY(4px);
        outline: none;
        border: none;
    }

    .graph {
        margin-top: 40px;
    }

    .graph img {
        width: 100%;
    }

    .box__timer {
        margin: 20% auto;
        width: 90%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 8px;
        -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
        box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
    }

    .box__timer p{
        margin-top: 6%;
        font-size: 16px;
    }

    .timer {
        bottom: 0;
    }

    canvas {
        width: 70%;
        display: block;
        background: transparent;
        margin: 6% auto;
    }

    header {
        height: 215vw;
    }

    main {
        background-color: #F4F6F8;
        padding-top: 120px;
    }

    .content {
        padding-top: 10%;
    }

    .content h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
    }

    .content__box h2 {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        font-size: 17px;
        line-height: 1.3;
        font-weight: 600;
        text-align: center;
    }

    .content__box p {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
        text-align: center;
    }

    .content__box .img-fluid {
        margin-top: 10%;
        margin-left: 38%;
        width: 23%;
    }

    .content__second-part_box {
        display: inline-flex;
        padding: 0 30px;
    }

    .content__second-part img {
        transform: scale(1.4);
        position: relative;
        top: 70px;
        right: 100px;
        margin-bottom: 45%;
    }

    .content__second-part-title h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        padding: 0;
    }

    .content__second-part h2 {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #535353;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
    }

    .content__second-part p {
        margin-top: 8%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        text-align: center;
    }

    .content__second-part h3 {
        font-family: 'Montserrat', sans-serif;
        color: #739DD6;
        font-size: 60px;
        font-weight: 600;
    }

    .content__second-part span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
        margin-left: 22px;
    }

    .content__second-part button {
        margin-top: 8%;
        width: 97%;
        height: 60px;
        border-radius: 50px;
        border: none;
        background-color: #739DD6;
        -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
    }

    .pricing__title p {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        padding: 0 0;
    }

    .blue-box {
        border-radius: 6px;
        width: 100%;
        height: 170px;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
        text-align: center;
    }

    .blue-box p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .blue-box span {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }

    .pricing ul {
        margin-top: 8%;
        margin-left: 1%;
        list-style-image: url(../images/yes.png);
    }

    .pricing li {
        padding-bottom: 6px;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 13px;
        font-weight: 300;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        margin-bottom: 9%;
        -webkit-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
        -moz-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
        box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
    }

    .content__third-part-title {
        margin-top: 8%;
        margin-bottom: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        padding: 0 50px;
    }

    .blue__rectangle {
        margin-left: 0.5%;
        width: 190px;
        height: 6px;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .content__third-part h2 {
        margin-top: 3%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 30px;
        line-height: 1.3;
        font-weight: 300;
        text-align: left;
    }

    .content__third-part p {
        margin-top: 5%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
    }

    .contact__form{
        padding: 0 30px;
    }


    .contact__form p {
        margin-top: 8%;
        margin-bottom: 10%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
    }

    .number{
        margin-top: 3%;
    }

    .contact__form span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }

    .contact__form button {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .parallelogram {
        margin-top: 12%;
        width: 100%;
        height: 409px;
        clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
        -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .parallelogram h2 {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 18px;
        line-height: 1.1;
        text-align: center;
    }

    .offices {
        margin-top: 4%;
        margin: 0 auto;
    }

    .offices__title p {
        margin-top: 7%;
        font-size: 18px;
        line-height: 1.2;
    }

    .offices__box{
        padding-top: 10%;
    }

    .offices__box:first-child{
        padding-top: 0;
    }

    .offices__box p {
        font-size: 16px;
    }

    footer h4 {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
    }

    footer p {
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8%;
    }
}

