@media (min-width: 992px) and (max-width: 1124px) {
    canvas {
        width: 60%;
        display: block;
        position: relative;
        background: transparent;
        margin: 4% auto;
    }

    .title__button {
        color: #FFFFFF;
        font-size: 1.1vw;
        font-weight: bold;
        margin-top: 10%;
        width: 55%;
        height: 5vw;
        border-radius: 50px;
        border: none;
        background-color: #00BCCA;
        -webkit-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        -moz-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    }

    .content h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 2.3vw;
        line-height: 1.2;
        text-align: center;
    }

    .content {
        padding: 28% 10% 0;
    }

    .content__second-part {
        margin-top: 5%;
        padding: 0 10% 0;
    }

    .content__box .img-fluid {
        margin-top: 10%;
        width: 20%;
    }

    .content__second-part-title h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 2.1vw;
        line-height: 1.2;
        text-align: center;
        padding: 0 10% 0;
    }

    .content__second-part button {
        margin-top: 8%;
        width: 72%;
        height: 65px;
        border-radius: 50px;
        border: none;
        background-color: #739DD6;
        -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
    }

    .content__box h2 {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        font-size: 3.3vh;
        line-height: 1.3;
        font-weight: 600;
    }

    .content__box p {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 2.5vh;
        line-height: 1.3;
        font-weight: 300;
    }

    .content__second-part h2 {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #535353;
        font-size: 3.1vh;
        line-height: 1.2;
        font-weight: 600;
        text-align: left;
    }

    .content__second-part p {
        margin-top: 8%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 2.6vh;
        line-height: 1.2;
        font-weight: 300;
    }

    .content__second-part span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 2.6vh;
        line-height: 1.3;
        font-weight: 300;
        margin-left: 22px;
    }


}


@media (min-width: 767.98px) and (max-width: 992px) {

    header {
        height: 72vw;
        padding-top: 3%;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .face{
        margin-top: 4%;
    }

    .info p {
        margin-top: 0;
        color: #FFFFFF;
        font-size: 1.6vw;
        line-height: 1.3;
        font-weight: 400;
        text-align: right;
    }

    .logo img{
        width: 40%;
    }

    .graph {
        margin-top: 0;
    }

    .title p {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.6vw;
        line-height: 1.3;
        font-weight: 600;
        margin-top: 15%;
    }

    .title2 p {
        color: #FFFFFF;
        font-size: 1.8vw;
        line-height: 1.3;
        font-weight: 400;
        padding-top: 2%;
    }

    .title__button {
        color: #FFFFFF;
        font-size: 1.2vw;
        font-weight: bold;
        margin-top: 5%;
        width: 62%;
        height: 5vw;
        border-radius: 50px;
        border: none;
        background-color: #00BCCA;
        -webkit-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        -moz-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    }

    canvas {
        width: 60%;
        display: block;
        position: relative;
        background: transparent;
        margin: 4% auto;
    }

    .content {
        padding: 24% 10% 0;
    }

    .content h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 1.9vw;
        line-height: 1.3;
        text-align: center;
    }

    .content__box {
        margin-top: 0;
        text-align: left;
    }

    .content__box .img-fluid {
        margin-top: 10%;
        width: 19%;
    }

    .content__box h2 {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        font-size: 1.6vw;
        line-height: 1.3;
        font-weight: 600;
    }

    .content__box p {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 1.2vw;
        line-height: 1.3;
        font-weight: 300;
    }

    .content__second-part {
        padding: 0 10% 0;
    }

    .content__second-part-title h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 1.9vw;
        line-height: 1.3;
        text-align: center;
        padding: 0 50px;
    }

    .content__second-part h2 {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #535353;
        font-size: 1.7vw;
        line-height: 1.2;
        font-weight: 600;
        text-align: left;
    }

    .content__second-part h3 {
        font-family: 'Montserrat', sans-serif;
        color: #739DD6;
        font-size: 4.5vw;
        font-weight: 600;
    }

    .content__second-part p {
        margin-top: 8%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 1.4vw;
        line-height: 1.2;
        font-weight: 300;
    }

    .content__second-part span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 1.3vw;
        line-height: 1.3;
        font-weight: 300;
        margin-left: 22px;
    }

    .content__second-part img {
        transform: scale(1.7);
        position: relative;
        top: 60px;
        right: 100px;
        margin-left: 10%;
    }

    .content__second-part button {
        margin-top: 6%;
        width: 80%;
        height: 6.5vh;
        border-radius: 50px;
        border: none;
        background-color: #739DD6;
        -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 1.6vh;
        font-weight: 700;
    }

    .pricing__title p {
        padding: 0px 20% 0;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 1.9vw;
        line-height: 1.2;
        text-align: center;
    }

    .pricing ul {
        margin-top: 8%;
         margin-left: 0;
        list-style-image: url(../images/yes.png);
    }

    .blue__rectangle {
        margin-left: 0.5%;
        width: 15%;
        height: 0.5vmax;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .content__third-part h2 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 3.5vw;
        line-height: 1.3;
        font-weight: 300;
        text-align: left;
    }

    .content__third-part p {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 1.5vw;
        line-height: 1.3;
        font-weight: 300;
    }

    .content__third-part-title {
        margin-top: 8%;
        margin-bottom: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 3.3vw;
        line-height: 1.1;
        text-align: center;
    }

    .contact__form p {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 2vw;
        line-height: 1.3;
        text-align: center;
    }

    .content__third-part-title {
        margin-top: 8%;
        margin-bottom: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 2.4vw;
        line-height: 1.1;
        text-align: center;
    }

    .contact__form{
        width: 90%;
    }

    .contact__form span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 2.2vw;
        font-weight: 300;
        text-align: left;
    }

    .form-control-lg {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .contact__form button {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 1.9vw;
        font-weight: 700;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .parallelogram h2 {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 2.4vw;
        line-height: 1.1;
        text-align: center;
    }

    .brands{
        width: 80%;
    }

    .brands img{
        width: 75%;
    }

    .offices__title {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 2.4vw;
        line-height: 1.2;
        text-align: center;
    }

    .offices p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 1.3vw;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
    }

    footer p {
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 1.3vw;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin-top: 4%;
    }

    footer h4 {
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 1.4vw;
        font-weight: 400;
        line-height: 1.2;
        text-align: right;
        margin-top: 4%;
    }


}




@media (max-width: 767.98px) {

    .wrap {
        width: 90%;
        margin-top: 1%;
    }

    .info p {
        margin-top: 12px;
        color: #FFFFFF;
        font-size: 3.4vw;
        line-height: 1.3;
        font-weight: 400;
    }

    .title p {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 5.2vw;
        line-height: 1.3;
        font-weight: 600;
        margin-top: 46px;
        text-align: center;
    }

    .title2 p {
        color: #FFFFFF;
        font-size: 4.4vw;
        line-height: 1.3;
        font-weight: 400;
        padding-top: 4%;
        text-align: center;
    }

    .title__button {
        color: #FFFFFF;
        font-size: 3.1vw;
        font-weight: bold;
        margin-top: 4%;
        margin-left: 10%;
        width: 80%;
        height: 12vw;
        border-radius: 50px;
        border: none;
        background-color: #00BCCA;
        -webkit-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        -moz-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
        box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    }

    .title__button:hover{
        color: #FFFFFF;
        background-color: #0045B4;
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
        outline: none;
        border: none;
    }

    .title__button:active{
        background-color: #0045B4;
        box-shadow: 0 5px #0045b4;
        transform: translateY(4px);
        outline: none;
        border: none;
    }

    .graph {
        margin-top: 40px;
    }

    .graph img {
        width: 100%;
    }

    .box__timer {
        margin: 20% auto;
        width: 90%;
        height: 34vw;
        background-color: #ffffff;
        border-radius: 8px;
        -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
        box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
    }

    .box__timer p {
        margin-top: 6%;
        font-size: 3.8vw;
    }

    .timer {
        bottom: 0;
    }

    canvas {
        width: 70%;
        display: block;
        background: transparent;
        margin: 6% auto;
    }

    header {
        height: 209vw;
    }

    main {
        background-color: #F4F6F8;
        padding-top: 24%;
    }

    .content {
        padding-top: 2%;
    }

    .content h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 4.5vw;
        line-height: 1.2;
        text-align: center;
    }

    .content__box h2 {
        margin-top: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #373737;
        font-size: 4.5vw;
        line-height: 1.3;
        font-weight: 600;
        text-align: center;
    }

    .content__box p {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 4.1vw;
        line-height: 1.3;
        font-weight: 300;
        text-align: center;
    }

    .content__box .img-fluid {
        margin-top: 10%;
        margin-left: 38%;
        width: 23%;
    }

    .content__second-part_box {
        display: inline-flex;
        padding: 0 30px;
    }

    .content__second-part img {
        transform: scale(1.4);
        position: relative;
        top: 70px;
        right: 100px;
        margin-bottom: 45%;
    }

    .content__second-part-title h3 {
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        line-height: 1.2;
        font-size: 4.5vw;
        text-align: center;
        padding: 0;
    }

    .content__second-part h2 {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #535353;
        font-size: 4.5vw;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
    }

    .content__second-part p {
        margin-top: 8%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 4.5vw;
        line-height: 1.2;
        font-weight: 300;
        text-align: center;
    }

    .content__second-part h3 {
        font-family: 'Montserrat', sans-serif;
        color: #739DD6;
        font-size: 14.5vw;
        font-weight: 600;
    }

    .content__second-part span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 4vw;
        line-height: 1.3;
        font-weight: 300;
        margin-left: 22px;
    }

    .content__second-part button {
        margin: 8% 8%;
        width: 85%;
        height: 15vw;
        border: none;
        background-color: #739DD6;
        -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 5vw;
        font-weight: 700;
    }

    .pricing__title p {
        margin-top: 8%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 4.5vw;
        line-height: 1.2;
        text-align: center;
        padding: 0 0;
    }

    .blue-box {
        border-radius: 6px;
        width: 100%;
        height: 43vw;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
        text-align: center;
    }

    .blue-box p {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 4.6vw;
        font-weight: 600;
        text-align: center;
    }

    .blue-box span {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 9.5vw;
        font-weight: 600;
        text-align: center;
    }

    .pricing ul {
        margin-top: 8%;
        margin-left: 1%;
        list-style-image: url(../images/yes.png);
    }

    .pricing li {
        padding-bottom: 6px;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 3.4vw;
        font-weight: 300;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        margin-bottom: 9%;
        -webkit-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
        -moz-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
        box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
    }

    .content__third-part-title {
        margin-top: 6%;
        margin-bottom: 5%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 6vw;
        line-height: 1.2;
        text-align: center;
}

    .blue__rectangle {
        margin-left: 0.5%;
        width: 190px;
        height: 6px;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .content__third-part h2 {
        margin-top: 3%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 30px;
        line-height: 1.3;
        font-weight: 300;
        text-align: left;
    }

    .content__third-part p {
        margin-top: 5%;
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
    }

    .contact__form{
        padding: 0 30px;
    }

    .contact__form p {
        margin-top: 8%;
        margin-bottom: 10%;
        font-family: 'Montserrat', sans-serif;
        color: #2472B8;
        font-size: 4.3vw;
        line-height: 1.2;
        text-align: center;
    }

    .number{
        margin-top: 3%;
    }

    .contact__form span {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }

    .contact__form button {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 3.7vw;
        font-weight: 700;
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .parallelogram {
        margin-top: 12%;
        width: 100%;
        height: 409px;
        clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
        -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        background: rgb(2,78,184);
        background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
    }

    .parallelogram h2 {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 18px;
        line-height: 1.1;
        text-align: center;
    }

    .brands{
        width: 90%;
    }

    .offices {
        margin: 0 auto;
    }

    .offices__title p {
        margin-top: 7%;
        margin-bottom: 7%;
        font-size: 4.5vw;
        line-height: 1.2;
    }

    .offices__box{
        padding-top: 10%;
    }

    .offices__box:first-child{
        padding-top: 0;
    }

    .offices__box p {
        font-size: 4.5vw;
    }

    footer h4 {
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 3.2vw;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
    }

    footer p {
        font-family: 'Roboto', sans-serif;
        color: #474747;
        font-size: 3.2vw;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8%;
    }

    footer {
        background-color: #F4F6F8;
        padding: 6% 4.2% 2%;
    }
}

