@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}

header{
    height: 1250px;
    background: rgb(2,78,184);
    background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
}

.wrap{
    padding: 41px 170px 0;
}

.info p{
    margin-top: 24px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
}

.title p{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    margin-top: 148px;
}

.title2 p{
    color: #FFFFFF;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 400;
    padding-top: 54px;
}

.title__button{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin-top: 66px;
    width: 450px;
    height: 85px;
    border-radius: 50px;
    border: none;
    background-color: #00BCCA;
    -webkit-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    -moz-box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
    box-shadow: 2px 16px 12px 0px rgba(0,0,86,0.12);
}

.title__button:hover{
    color: #FFFFFF;
    background-color: #0045B4;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}

.title__button:active{
    background-color: #0045B4;
    box-shadow: 0 5px #0045b4;
    transform: translateY(4px);
    outline: none;
    border: none;
}

.graph{
    margin-top: 81px;
}

.graph img{
    width: 900px;
}

main{
    background-color: #F4F6F8;
    padding-top: 355px;
}

.box__timer{
    position: relative;
    top: 160px;
    width: 90%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.17);
}

.box__timer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #303030;
}

.main__title{
    font-family: 'Montserrat', sans-serif;
    color: #2472B8;
    font-size: 40px;
    line-height: 1.1;
}

.content__second-part h2{
    font-family: 'Montserrat', sans-serif;
    color: #535353;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
}

.content__second-part p{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
}

.content__second-part img{
    transform: scale(1.4);
    position: relative;
    top: 100px;
    right: 100px;
}

.content__second-part h3{
    font-family: 'Montserrat', sans-serif;
    color: #739DD6;
    font-size: 60px;
    font-weight: 600;
}

.content__second-part span{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    margin-left: 22px;
}

.content__second-part_box{
    display: inline-flex;
}

.content__second-part button{
    margin-top: 45px;
    width: 400px;
    height: 81px;
    border-radius: 50px;
    border: none;
    background-color: #739DD6;
    -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}

.content__second-part button:hover{
    color: #FFFFFF;
    background-color: #0045B4;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}

.content__second-part button:active {
    background-color: #0045B4;
    -webkit-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    -moz-box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    box-shadow: 5px 5px 9px 1px rgba(121,161,215,0.44);
    transform: translateY(4px);

}

.pricing li{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
}

.pricing ul{
    list-style-image: url(../images/yes.png);
}

.pricing .card:hover {
    cursor: pointer;
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,69,180,0.25);
    transition:  0.25s;
}

.card{
    width: 425px;
    height: 550px;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
    -moz-box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
    box-shadow: 5px 5px 9px 0px rgba(121,161,215,0.13);
}

.card-title{
    margin-top: 70px;
}

.blue-box{
    border-radius: 6px;
    width: 425px;
    height: 252px;
    background: rgb(2,78,184);
    background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
}

.blue-box p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.blue-box span{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
}

.content h2{
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
}

.content p{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 23px;
    line-height: 1.3;
    font-weight: 300;
}

.cards p{
    color: #373737;
    font-size: 20px;
    line-height: 2.2;
    font-weight: 300;
}

.blue__rectangle{
    width: 250px;
    height: 11px;
    background: rgb(2,78,184);
    background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
}

.content__third-part h2{
    font-family: 'Montserrat', sans-serif;
    color: #2472B8;
    font-size: 70px;
    line-height: 1.3;
    font-weight: 300;
}

.content__third-part p{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 300;
}

.contact__form span{
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 20px;
    font-weight: 300;
}

.contact__form input{
    border-radius: 0;
    height: 60px;
}

.form-control::placeholder{
    color: rgba(55, 55, 55, 0.4);
}

.contact__form button{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background: rgb(2,78,184);
    background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
}

.contact__form button:hover{
    background: #00BCCA;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.contact__form button:active{
    box-shadow: 0 5px #0045b4;
    transform: translateY(4px);
}

.parallelogram {
    width: 100%;
    height: 1023px;
    clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
    background: rgb(2,78,184);
    background: -moz-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    background: linear-gradient(125deg, rgba(2,78,184,1) 0%, rgba(115,157,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024eb8",endColorstr="#739dd6",GradientType=1);
}

.parallelogram h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 1.1;
}

.brands{
    margin-top: 265px;
}

.rgba-blue-strong{
    background: rgba(115,157,214,0.6);
}

.offices p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
}


footer{
    background-color: #F4F6F8;
}

footer p{
    font-family: 'Roboto', sans-serif;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.fa-facebook-square{
    color: #475993;
}

.fa-telegram{
    color: #61A8DE;
}

